# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Project specific
inventory-evolution/
inventory_system/inventory_simulation.log
*.log

# OS specific
.DS_Store
Thumbs.db 